Source: php-dummy-package
Section: php
Priority: optional
Maintainer: Sunflower Girasole <author@example.com>
Build-Depends:
 debhelper-compat (= 13),
 pkg-php-tools,
 phpab,
 pkg-php-tools,
Rules-Requires-Root: no
Standards-Version: 4.6.1
Homepage: https://www.example.com/my/cool/project
Vcs-Browser: https://salsa.debian.org/debian/php-dummy-package
Vcs-Git: https://github.com/sunflowerbofh/php-dummy-package.git

Package: php-dummy-package
Architecture: all
Depends:
 ${misc:Depends},
 ${phpcomposer:Debian-require},
Suggests:
 ${phpcomposer:Debian-suggest},
Replaces:
 ${phpcomposer:Debian-replace},
Breaks:
 ${phpcomposer:Debian-conflict},
Provides:
 ${phpcomposer:Debian-provide},
Description: ${phpcomposer:description}
 Provides framework to build debian php packages from
 This package contains some templates to build a php-* package for debian.
 .
 The most important parts are
  * Some examples for common changelog, license and control file
  * building rules for php
